<div class="container">
  <form autocomplete="off" #form="ngForm" (ngSubmit)="salvar(form)">

    <div class="p-grid">
      <div class="p-col-12">
        <!-- <h1>Novo Lançamento</h1> -->
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="p-col-12">
        <!-- <p-selectButton [options]="tipos" #tipo></p-selectButton> -->
        <p-selectButton name="tipo" [options]="tipos" [(ngModel)]="lancamento.tipo" #tipo></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <!-- <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          name="vencimento" ngModel #vencimento="ngModel" required></p-calendar> -->
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          [(ngModel)]="lancamento.dataVencimento" #vencimento="ngModel" required></p-calendar>

        <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <!-- <p-calendar dateFormat="dd/mm/yy"></p-calendar> -->
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição</label>
        <!-- <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5"> -->
        <input pInputText type="text" name="descricao"
          [(ngModel)]="lancamento.descricao" #descricao="ngModel" required minlength="5">

        <!--
        <div *ngIf="descricao.hasError('required') && descricao.dirty" class="p-message p-message-error">
          Informe uma descrição
        </div>
        <div *ngIf="descricao.hasError('minlength') && descricao.dirty" class="p-message p-message-error">
          Mínimo de {{ descricao.errors.minlength.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors.minlength.actualLength }}
        </div>
        -->

        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <!-- <input pInputText type="text" placeholder="0,00" name="valor" currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" ngModel #valor="ngModel" required> -->
        <input pInputText type="text" name="valor" placeholder="0,00"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="lancamento.valor" required>

        <!-- <app-message [control]="valor" error="required" text="Informe um valor"></app-message> -->
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <!--
        <label>Categoria {{ categoria.value }}</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" #categoria name="categoria" ngModel required></p-dropdown>
        -->
        <label>Categoria</label>
        <p-dropdown name="categoria" [options]="categorias" placeholder="Selecione"
          [(ngModel)]="lancamento.categoria.codigo" required></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <!--
        <label>Pessoa {{ pessoa.value }}</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" #pessoa name="pessoa" ngModel required></p-dropdown>
        -->
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione" [filter]="true"
          [(ngModel)]="lancamento.pessoa.codigo" required></p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <!-- <textarea pInputTextarea rows="3"></textarea> -->
        <textarea pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="p-col-12 buttons-cadastro-acoes">
        <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
        <!-- <button pButton type="button" label="Novo" class="p-button-info"></button> -->
        <button pButton type="button" label="Novo" class="p-button-info" (click)="novo(form)"></button>
        <!-- <a href="javascript:;">Voltar para a pesquisa</a> -->
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
